<!DOCTYPE html>
<html lang="en">
<head>
    <title>SPLN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/agency.css') }}" rel="stylesheet">
</head>
<body style="background-color: #ced4da;">

    <h1 style="text-align:center; margin-top: 100px"><span style="background-color:white; color:#ced4da;">ESCOLHA O FICHEIRO A SER PROCESSADO</span></h1>

    <div class="container">
    <div class="row">
        {% for word in text %}
        <div class="col-md-4">
            <a style="width: 80%; display:block; margin: auto; text-align:center; color:black; border:solid; border-color: #ced4da; text-decoration: none" href={{ url_for( 'word' , word = word ) }}> {{word}}</a>
        </div>
        {% endfor %}
    </div>
    </div>

</body>

